@model IEnumerable<GameShop.Models.Console>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
   
    <p>       
        <!-- @Html.ActionLink("Create New", "Create") -->
        <h1> Consoles List</h1>
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ConsoleName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ConsoleName)
                </td>
                <td>
                    <!--  @Html.ActionLink("Edit", "Edit", new { id = item.ConsoleId }) |-->
                    @Html.ActionLink("Details", "../Games/Index", new { id = item.ConsoleId })
                   <!-- @Html.ActionLink("Delete", "Delete", new { id = item.ConsoleId }) -->
                </td>
            </tr>
        }

    </table>
</body>
</html>
