@model IEnumerable<GameShop.Models.Game>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
   
    <p>
       <!-- @Html.ActionLink("Create New", "Create") -->
        <h1> Game List </h1>               
    </p>
        
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.console.ConsoleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Condition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrignalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiscountPrice)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.console.ConsoleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Condition)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrignalPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiscountPrice)
                </td>
                <td>
                    <!--  @Html.ActionLink("Edit", "Edit", new { id = item.GameId }) |-->
                    @Html.ActionLink("Details", "Details", new { id = item.GameId }) 
                    <!--    @Html.ActionLink("Delete", "Delete", new { id = item.GameId }) -->
                </td>
            </tr>
        }

    </table>
</body>
</html>
